{{# @name Footer @desc The sites footer rendered on each page. #}}

<!-- /layout/_footer.antlers.html -->
<footer class="fluid-grid py-20 mt-auto bg-[#30565E] text-[#FAF3E7]">
    <div
        class="span-content flex flex-col space-y-4 md:space-y-0 md:justify-between md:space-x-4 md:items-center"
    >
        <div class="span-content grid md:grid-cols-12 gap-fluid-grid-gap">
            <div class="col-span-3 space-y-2">
                <img
                    src="/favicons/logo.png"
                    class="select-none {{ class }}"
                    width="{{ width }}"
                    alt="{{ config:app:name }}"
                />
                <p class="">
                    Meie kogenud meeskond pakub kiireid ja professionaalseid
                    küttesüsteemide remondi- ja hooldusteenuseid Saaremaal,
                    Muhumaal, Lääne-Eestis ja Hiiumaal. Tagame teile personaalse
                    lähenemise ning usaldusväärse teeninduse, et leida parim
                    lahendus teie vajadustele.
                </p>
            </div>
            <div class="col-span-3 space-y-2">
                <div class="flex flex-col">
                    <p class="text-xl font-bold">Menüü</p>
                    <span class="bg-[#D2830D] h-0.5 w-2/3"></span>
                </div>
                <p>Ettevõttest</p>
                <p>Teenused</p>
                <p>Tehtud tööd</p>
            </div>
            <div class="col-span-3 space-y-2">
                <div class="flex flex-col">
                    <p class="text-xl font-bold">Hea teada</p>
                    <span class="bg-[#D2830D] h-0.5 w-2/3"></span>
                </div>
                <p>KKK</p>
                <p>Privaatsuspoliitika</p>
            </div>
            <div class="col-span-3 space-y-2">
                <div class="flex flex-col">
                    <p class="text-xl font-bold">Kontakt</p>
                    <span class="bg-[#D2830D] h-0.5 w-2/3"></span>
                </div>
                <p class="flex">
                    {{ heroicon:outline:briefcase class="h-4 w-4 mr-4
                    text-[#E4B56E]" }}Termoelement OÜ
                </p>
                <a class="flex" href="mailto:info@termoelement.ee"
                    >{{ heroicon:outline:envelope class="h-4 w-4 mr-4
                    text-[#E4B56E]" }}E-mail</a
                >
                <a class="flex" href="tel:+3725074984">
                    {{ heroicon:outline:device-phone-mobile class="h-4 w-4 mr-4
                    text-[#E4B56E]" }}+372 50 74 984</a
                >
            </div>
        </div>
        <div
            class="flex flex-col space-y-4 md:flex-row md:space-y-0 md:space-x-4 text-xs font-bold mt-8"
        >
            <span
                >Copyrights. Kõik õigused kaitstud. &copy; {{ now | format('Y')
                }} {{ configuration:copyright_name ?? config:app:name }}
            </span>

            {{# Let's users reset consent when you use the consent banner. #}}
            {{ yield:reset_consent }}
        </div>
        {{ if social_media:social_media }}
        <div class="flex space-x-2">
            {{ social_media:social_media }}
            <a
                class="p-1 -m-1 text-neutral text-neutral/50 focus:outline-none focus-visible:ring-2 ring-primary"
                href="{{ prefix }}{{ handle }}"
                rel="noopener{{ type == 'mastodon' ?= ' me' }}"
                aria-label="{{ config:app:name }} {{ trans:strings.on }} {{ type | title }}"
                target="_blank"
                >{{ svg :src="type" class="w-3 h-3 overflow-visible
                fill-current" alt="" aria-hidden="true" sanitize="true" }}</a
            >
            {{ /social_media:social_media }}
        </div>
        {{ /if }}
    </div>
</footer>
<!-- End: /layout/_footer.antlers.html -->
