{{# @name Projects index @desc The Projects index template. #}}

<!-- /projects/index.antlers.html -->
<main class="outer-grid" id="content">
    {{ page_builder scope="block" }} {{ partial src="page_builder/{type}" }}
    {{/page_builder }}
</main>
{{ section:index_content }}
<div class="span-content grid md:grid-cols-12 gap-fluid-grid-gap">
    {{ collection:projektid sort="title" as="items" }} {{ unless no_results }}
    {{ items }}
    <a
        href="{{ url }}"
        class="relative flex flex-col justify-between items-start text-white no-underline lg:col-span-4"
    >
        <img class="h-64 w-full object-cover" src="{{ glide:image quality="{
        quality ?? '600' }"}}" alt="{{ alt }}" cover="false" lazy="true">
        <div
            class="absolute bottom-10 left-10 flex items-center justify-center"
        >
            <h2 class="text-[#26454B] text-3xl font-bold">{{ title }}</h2>
        </div>
    </a>
    {{ /items }} {{ else }}
    <div class="md:col-span-6">{{ trans:strings.no_results }}</div>
    {{ /unless }} {{# {{ partial:statamic-peak-tools::components/pagination
    class="md:col-span-12" }} #}}

    <div class="col-span-full flex justify-center items-center my-8">
        {{ paginate }}
        <div class="space-x-8">
            <a class="p-4 bg-orange text-white" href="{{ prev_page }}"
                >Eelmine</a
            >
            <span>{{ current_page }} / {{ total_pages }}</span>
            <a class="p-4 bg-orange text-white" href="{{ next_page }}"
                >Järgmine</a
            >
        </div>
        {{ /paginate }}
    </div>

    {{ /collection:projektid }}
</div>
<!-- End: /projects/index.antlers.html -->
{{ /section:index_content }}
