{{# @name Projects show @desc The Projects show template. #}}

<!-- /projects/show.antlers.html -->
<main
    class="flex flex-col lg:grid lg:grid-cols-12 gap-5 mx-8 lg:mx-auto max-w-[1728px] mb-4 md:mb-20 md:mt-10"
    id="content"
>
    <div class="col-start-2 col-span-10">
        {{ partial:typography/h1 :content="title" }}
    </div>

    <div class="col-start-2 col-span-10">
        <a href="/projektid">
            <p class="flex items-center gap-2">
                {{ heroicon:mini:arrow-left class="w-5 h-5" }} Tagasi
            </p></a
        >
        {{ page_builder scope="block" }} {{ partial src="page_builder/{type}" }}
        {{ /page_builder }}
    </div>
</main>
<!-- /projects/show.antlers.html -->
