{{# @name Article @desc The article page builder block. It extends the prose
typography partial. @set page.page_builder.article #}}
<section class="-mt-12 md:-mt-16 lg:-mt-24 bg-white relative">
    {{ if toggle_field === true }}
    <div class="grid grid-cols-1 justify-center overflow-hidden">
        <div class="flex flex-col items-center static">
            <!-- Added relative positioning -->
            <img src="{{ glide:image fit="crop_focal" :bg="bg" quality="{
            quality ?? '200' }}"}}" class="w-full aspect-square lg:aspect-video
            object-cover max-h-[650px]" loading="lazy">
            <div
                class="absolute top-1/3 lg:top-1/2 transform lg:-translate-x-1/3 -translate-y-1/2 flex flex-col justify-center lg:w-1/2 text-white m-8 lg:mx-20"
            >
                <h1
                    class="text-[32px] md:text-[42px] lg:text-[4vw] font-bold mb-8 text-[#FAF3E7]"
                >
                    Professionaalne hooldus
                    <span class="text-[#D2830D]">sinu kodu</span>
                    küttesüsteemile
                </h1>

                <!-- Adjusted styling and added absolute positioning -->
                {{ partial:typography/prose as="article"
                class="prose-h1:md:text-[31px] prose-h1:lg:text-[61px]
                prose-h1:font-bold prose-h1:text-[#FAF3E7] w-[60ch]
                prose-p:text-[#FAF3E7]" }} {{ article }} {{ partial
                src="components/{type}" inverted="true" }} {{ /article }} {{
                /partial:typography/prose }}
                <div class="mt-14 mb-4 flex items-center gap-8">
                    {{ buttons }} {{ partial:components/button }} {{ /buttons }}
                </div>
            </div>
        </div>
    </div>
    {{ else }}
    <div class="grid grid-cols-1 justify-center overflow-hidden">
        <div class="flex flex-col items-center static">
            <!-- Added relative positioning -->
            <img src="{{ glide:image fit="crop_focal" :bg="bg" quality="{
            quality ?? '200' }}"}}" class="w-full aspect-square lg:aspect-video
            object-cover max-h-[300px]" loading="lazy">
            <div
                class="absolute top-1/3 lg:top-1/2 transform lg:-translate-x-1/3 -translate-y-1/2 flex flex-col justify-center lg:w-1/2 text-white m-8 lg:mx-20"
            >
                <!-- Adjusted styling and added absolute positioning -->
                <div
                    class="text-[32px] md:text-[42px] lg:text-[4vw] font-medium text-[#FAF3E7]"
                >
                    {{ hero_title }}
                </div>
                <span class="bg-[#D2830D] h-1 w-1/3"></span>
            </div>
        </div>
    </div>
    {{ /if}}
</section>
