{{# @name Article @desc The article page builder block. It extends the prose
typography partial. @set page.page_builder.article #}}
<section class="">
    {{ if toggle_field === true }}
    <div
        class="fluid-grid bg-[url('/public/images/background/hero.png')] bg-cover"
    >
        <div class="span-content md:grid md:grid-cols-12 gap-fluid-grid-gap">
            <div class="md:col-span-7 flex flex-col my-32">
                <h1
                    class="text-[32px] md:text-[42px] lg:text-[4vw] leading-tight mb-4 text-[#FAF3E7]"
                >
                    Professionaalne hooldus
                    <span class="text-[#D2830D]">sinu kodu</span>
                    küttesüsteemile
                </h1>

                <!-- Adjusted styling and added absolute positioning -->
                {{ partial:typography/prose as="article"
                class="prose-h1:md:text-[31px] prose-h1:lg:text-[61px]
                prose-h1:font-bold prose-h1:text-[#FAF3E7] md:w-[48ch]
                prose-p:text-[#FAF3E7]" }} {{ article }} {{ partial
                src="components/{type}" inverted="true" }} {{ /article }} {{
                /partial:typography/prose }}
                <div
                    class="mt-14 mb-4 flex flex-col md:flex-row items-start md:items-center gap-8"
                >
                    {{ buttons }} {{ partial:components/button }} {{ /buttons }}
                </div>
            </div>
        </div>
    </div>
    {{ else }}
    <div
        class="fluid-grid bg-[url('/public/images/background/hero.png')] bg-cover"
    >
        <div class="span-content md:grid md:grid-cols-12 gap-fluid-grid-gap">
            <div class="md:col-span-9 flex flex-col my-16">
                <div
                    class="text-[32px] md:text-[42px] lg:text-[4vw] font-medium text-[#FAF3E7]"
                >
                    {{ hero_title }}
                </div>
                <span class="bg-[#D2830D] h-1 w-1/3"></span>
            </div>
        </div>
    </div>
    {{ /if}}
</section>
