{{# @name Teenused index @desc The Teenused index template. #}}

<!-- /teenused/index.antlers.html -->
<main class="outer-grid" id="content">
    {{ page_builder scope="block" }} {{ partial src="page_builder/{type}" }}
    {{/page_builder }}
</main>
<!-- End: /teenused/index.antlers.html -->
{{ section:index_content }}
<!-- /teenused/index.antlers.html -->
<div class="span-content grid grid-cols-12 gap-4 mb-12">
    {{ collection:teenused paginate="true" limit="10" as="items" }} {{ unless
    no_results }} {{ items }}
    <div class="col-span-12 md:col-span-4">
        {{ if buttons != null }}
        <div
            class="flex flex-col border-2 border-[#30565E] bg-[#30565E] text-[#F7F8F9] p-8 h-full"
        >
            <div class="">
                <div class="mb-12">
                    {{ partial:typography/prose as="article" class="contents
                    text-[#F7F8F9] prose-h2:text-[#F7F8F9]" }} {{ article }} {{
                    partial src="components/{type}" }} {{ /article }} {{
                    /partial:typography/prose }}
                </div>
                {{ buttons }}
                <div class="flex items-center text-[#30565E]">
                    {{ partial:components/button }}
                </div>
                {{ /buttons }}
            </div>
        </div>
        {{ else }}
        <div
            class="flex flex-col border-2 border-[#30565E] bg-[#E0E9EA] p-8 h-full hover:bg-[#E0E9EA]/50 justify-between"
        >
            <a href="{{ url }}" class="flex flex-col justify-center">
                <div class="mb-12">
                    {{ partial:typography/prose as="article" class="contents
                    prose-h2:font-normal" }} {{ article }} {{ partial
                    src="components/{type}" }} {{ /article }} {{
                    /partial:typography/prose }}
                </div>
            </a>
            <p class="flex text-[#30565E] justify-end">
                Loe lähemalt{{ heroicon:mini:arrow-right class="w-5 h-5
                text-[#D2830D]" }}
            </p>
        </div>

        {{ /if }}
    </div>
    {{ /items }} {{ else }}
    <div class="col-span-12">{{ trans:strings.no_results }}</div>
    {{ /unless }} {{ partial:statamic-peak-tools::components/pagination
    class="col-span-12" }} {{ /collection:teenused }}
</div>
<!-- End: /teenused/index.antlers.html -->
{{ /section:index_content }}
